html,body{ 
    height:100%;
    padding-left: 0 !important;
	padding-right:0 !important;
	color:black;
    /*background-color: yellow;*/
}

.top{
    background-color: rgba(196, 237, 247, 0.679);
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding: 10px;
    box-shadow: 10px;
}
.lang{
    background-color: black;
}
a{
	color:black
}
a:hover{
	color:black
}
.search{
	background-color: black;
	color: rgb(218, 248, 244);
	border-radius: 0px;
	box-shadow: 0px;
	border-color: 0px;
}.search:hover{
	background-color:black;
	color: white;
	border-radius: 0px;
	box-shadow: 0px;
	border-color: 0px;
}
.searchInput{
	border-radius: 0px; 
	box-shadow: 0px;
}
.leaf{
	background-color: black;
	color: white;
	margin-left: 4%;
	margin-right: 4%;
	padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    border-radius: 161px  0px 161px 0px;
}